body {
  display: flex;
  justify-content: center;
  background-color: black;
}

header {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

header > img {
  width: 200px;
  height: 200px;
}

#container {
  width: 100%;
  max-width: 1200px;
}